%h3 category#show
- @category.videos.each do |video|
	%ul
		%li= video.title
		%li= video.description
		= link_to(image_tag(video.small_cover_url, alt: 'Video', title: video.title), video_path(video)) 
